*{
    box-sizing: border-box;
}
body{
    padding:10px;
}
.segway_left{
    background-position: center;
    width:100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
.segway_right{
    background-position: center;
    width:100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
p{
    font-size: 12pt;
}
.blurb{
    float:right;
    position: relative;
    top:-10px;
    right: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    padding:5px;
    max-width: 100px;
    background-color:rgba(97, 78, 53, 0.644);
    color: rgb(253, 216, 168);
    font-size: 10pt;
    border-radius: 12px;
}
#image_A{
    background-image: URL("https://www.nps.gov/grca/planyourvisit/images/Yaki-5197.jpg?maxwidth=650&autorotate=false");   
}
#image_B{
    background-image: URL("https://thumbs-prod.si-cdn.com/nA72TLLeitGZA4HUTR5_qhV4-Os=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/3c/2a/3c2af135-c333-4262-a5d9-91d596494c1e/mars_surface.jpg");
 
}
#image_C{
    background-image: URL("http://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/VC_Kidifornia_SupportingContent_MylesMcGuinness_SC-Redwoods9MQ_4891_1280x640_0.jpg");
}
#image_D{
    background-image: URL("https://vacationspotindonesia.files.wordpress.com/2015/06/green-canyon-pangandaran-11.jpg");
}

@media (min-width: 700px) {
   .segway_left{
       width:75%;
       float: left;
       clear: both;
       margin-right: 20px;
   }
   .segway_right{
       width:75%;
       float: right;
       clear: both;
       margin-left: 20px;
   }
}

@media (min-width: 1000px) {
    .segway_left{
        width:750px;
        float: left;
        clear: both;
        margin: 20px;
    }
    .segway_right{
        width:750px;
        float: right;
        clear: both;
        margin: 20px;
        
    }
}